<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<form >
<input type="text" name="title"  />
<input type="text" name="content"  />

<button type="submit" value="Save" formmethod="post"  >Save</button>
</form>
<br />

<a href="list" >List</a>
</body>
</html>
