<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery1.3.2.js"></script>
    <script src="/socket.io/socket.io.js"></script>


</head>
<body>
<h1>Socket.io - Simple chat room</h1>
<div>
    <span id="status">Connecting...</span>
    <input type="text" id="btninput"/>
</div>
<div id="content"></div>
<script src="/javascripts/chat.js"></script>
</body>
</html>
